.hero {
  min-height: 100vh;
  padding-top: 70px;
  background: linear-gradient(135deg, #0f172a, #020617);
  /* background-image: url('../assets/images/hero.jpg'); */
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* кольорова підложка */
.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* чорна з прозорістю */
}

/* контент поверх підложки */
.hero-content {
  position: relative;
  z-index: 1;
  color: #fff; 
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  z-index: 10;
}

.hero p {
  font-size: 24px;
  max-width: 600px;
  margin-bottom: 30px;
  z-index: 10;
}

.hero button {
  padding: 24px 40px;
  background: #ffd91a;
  color: #242424;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid #ffd91a;
  border-radius: 6px;
  border-color: #31dc0179;
  z-index: 10;
}

.hero>button:hover {
  background: #ffd91a7c;
  color:azure;
}
button:focus,
button:focus-visible {
  outline: 4px auto #31dc0179;
}