.prices {
  max-width: 800px;
  margin: 0 auto;
}

.item {
  border-bottom: 1px solid #ddd;
}

.item button {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.description {
  padding: 0 20px 20px;
  color: #475569;
  line-height: 1.6;
}
